// colors
$color-bg: hsl(248, 15%, 11%);
$color-bg-block: hsl(248, 15%, 11%);
$color-primary: hsl(127, 100%, 82%);
$color-white: hsl(252, 11%, 91%);
$color-white-bis: #827f93;
$color-security-low: rgb(239 68 68);
$color-security-medium: #f6cd63;
$color-security-hard: rgb(34 197 94);

// defaults
$font-family: 'JetBrains Mono Variable', monospace;
$font-size: 18px;

// breakpoints
$small: 576px;
$medium: 768px;