@use 'styles/variables' as v;
@use 'styles/input-range';

body {
  padding: 20px;

  .password-generator {
    width: 550px;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h1 {
        text-align: center;
        font-size: 1.5rem;
        color: v.$color-white-bis;
      }

      .block {
        background-color: v.$color-bg-block;
        padding: 25px 30px;
        position: relative;

        input.password {
          width: 100%;
          pointer-events: none;
          border: none;
          background-color: transparent;
          font-size: 32px;
          color: v.$color-white;
          font-weight: 900;

          &:placeholder-shown {
            color: v.$color-white-bis;
            opacity: .5;
          }
        }

        .copy {
          position: absolute;
          right: 30px;
          top: 30px;
          color: v.$color-primary;
          cursor: pointer;
          transition: .3s;

          .tooltip {
            display: none;
            position: absolute;
            top: -23px;
            text-wrap: nowrap;
            font-size: 14px;
            transform: translateX(calc(-50% + 15px));
            color: v.$color-white;
          }

          svg {
            font-size: 24px;
          }

          &:hover {
            color: v.$color-white;

            & .tooltip {
              display: block;
            }
          }
        }
      }

      .generator {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .generator__length {
          display: flex;
          justify-content: space-between;

          div {
            display: flex;
            align-items: center;
          }

          span {
            color: v.$color-primary;
            font-size: 2rem;
          }
        }

        .generator__checkbox-wrapper {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .checkbox-wrapper {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;

              &:checked {
                ~ {
                  .checkmark {
                    background-color: v.$color-primary;
                    outline-color: v.$color-primary;

                    &:after {
                      display: block;
                    }
                  }
                }
              }
            }

            &:hover {
              input {
                ~ {
                  .checkmark {
                    outline-color: v.$color-primary;
                  }
                }
              }
            }

            .checkmark {
              outline: 2px solid v.$color-white;
              background-color: v.$color-bg-block;
              height: 15px;
              width: 15px;

              &:after {
                left: 5px;
                top: 0px;
                width: 3px;
                height: 10px;
                border: solid v.$color-bg;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
            }
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 2px;
            height: 25px;
            width: 25px;
            background-color: #eee;

            &:after {
              content: "";
              position: absolute;
              display: none;
            }
          }
        }

        .generator__strength-meter {
          display: flex;
          justify-content: space-between;
          text-transform: uppercase;
          background-color: v.$color-bg;
          padding: 25px;
          font-size: 18px;
          color: v.$color-white-bis;

          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
          }

          ul {
            display: flex;
            gap: 12px;
            list-style: none;

            span {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-content: center;
              font-size: 22px;
              color: v.$color-white;
              margin-right: 10px;
            }

            li {
              outline: 2px solid #fff;
              padding: 12px 3px;
            }
          }
        }

        button {
          background-color: v.$color-primary;
          border: none;
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
          transition: .2s;
          cursor: pointer;

          span {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 18px;
          }

          svg {
            font-size: 14px;
            margin-bottom: 2px;
          }

          &:hover {
            background-color: v.$color-bg-block;
            outline: 2px solid v.$color-primary;
            color: v.$color-primary;
          }
        }
      }
    }
  }

}