@use 'styles/variables' as v;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: v.$font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  background-color: v.$color-bg;
  color: v.$color-white;
  display: grid;
  place-items: center;
  font-size: v.$font-size;
}